/*Style sheet for resume*/

body {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    line-height:50%
}

h1 {
    color:black;
    background-color:blanchedalmond;
    font-size: 220%;
    line-height: 120%;
    text-decoration: underline;
}

.header {
    color:blue;
}

h2 {
    color:black;
    background-color: lightcoral;
    line-height: 150%;
    text-decoration: underline;
}

h3 {
    color:black;
    background-color:aliceblue;
    line-height: 110%
}

ul {
    line-height: 130%
}